/*/////*/
.folderIconBtn {
  height: auto;
  width: 80px;
  transition: 0.3s all ease-in-out;
  margin: 20px;
}

.folderIconBtn:hover {
  transform: scale(1.1);
}

.folderImg {
  width: 80px;
  height: 80px;
}

.folderIconBtn p {
  font-family: "Poppins", sans-serif;
  color: #51fcff;
  margin: 0;
}

/**/
.browserFrameFolder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  height: 35rem;
  border-left: 5px solid;
  border-right: 5px solid;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, #e100ff, #51fcff) 1;
  background-color: #14023e;
  z-index: 1000;
  margin: 20px;
  transition: 0.3s all ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.browserTopBarBigFolder {
  width: 100%;
  height: 2.5rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, #e100ff 40%, #51fcff 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.browserTopBarBigFolder p {
  font-size: 2.5rem;
  margin: 0px 10px;
  transition: 0.5s all ease-in-out;
}

.browserTopBarTitleFolder {
  font-family: "Poppins", sans-serif;
  color: #51fcff;
  letter-spacing: 2px;
}

.browserTopBarIconsFolder {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e100ff;
}

.browserTopBarBig p:hover {
  transform: rotate(360deg);
}

.browserContentFolder {
  height: 32.5rem;
  width: 100%;
}
