.homepage {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/synthBackground.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
  }
  
  .sideBackground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  .wizzardText {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: flicker-3 2s linear infinite both;
    animation: flicker-3 2s linear infinite both;
    width: 35rem;
    z-index: 2;
  }
  
  .triangle {
    width: 19rem;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: 1;
  }
  
  .content {
    position: relative;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  
  /*///////////////////////////////////////////////*/
  /*///////////////////keyframes//////////////////*/
  /*///////////////////////////////////////////////*/
  
  @keyframes floating {
    0% {
      transform: translateX(-50%);
    }
    50% {
      transform: translateX(-55%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  @keyframes floatingTwo {
    0% {
      transform: translateX(-50%);
    }
    50% {
      transform: translateX(-52%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  @-webkit-keyframes flicker-3 {
    0%,
    100% {
      opacity: 1;
    }
    32.98% {
      opacity: 1;
    }
    33% {
      opacity: 0;
    }
    34% {
      opacity: 0;
    }
    34.02% {
      opacity: 1;
    }
    34.98% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    35.9% {
      opacity: 0;
    }
    35.92% {
      opacity: 1;
    }
    38.98% {
      opacity: 1;
    }
    39% {
      opacity: 0;
    }
    39.8% {
      opacity: 0;
    }
    39.82% {
      opacity: 1;
    }
    83.98% {
      opacity: 1;
    }
    84% {
      opacity: 0;
    }
    84.9% {
      opacity: 0;
    }
    84.92% {
      opacity: 1;
    }
  }
  
  @keyframes flicker-3 {
    0%,
    100% {
      opacity: 1;
    }
    32.98% {
      opacity: 1;
    }
    33% {
      opacity: 0;
    }
    34% {
      opacity: 0;
    }
    34.02% {
      opacity: 1;
    }
    34.98% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    35.9% {
      opacity: 0;
    }
    35.92% {
      opacity: 1;
    }
    38.98% {
      opacity: 1;
    }
    39% {
      opacity: 0;
    }
    39.8% {
      opacity: 0;
    }
    39.82% {
      opacity: 1;
    }
    83.98% {
      opacity: 1;
    }
    84% {
      opacity: 0;
    }
    84.9% {
      opacity: 0;
    }
    84.92% {
      opacity: 1;
    }
  }