.title-container {
    color: #51fcff;
    margin-left: 1.25rem;
    font-family: "Poppins", sans-serif;
    position: relative;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .span-light {
    font-size: 10rem;
    color: transparent;
    -webkit-text-stroke: 6px #51fcff;
    background: url("../../assets/textBackground.png");
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    letter-spacing: 10px;
    font-style: italic;
  }
  
  .jelly-letter:hover {
    -webkit-animation: jello-vertical 0.9s both;
    animation: jello-vertical 0.9s both;
    color: #ff10f0;
  }
  
  .title {
    display: flex;
  }
  
  .small-title {
    display: flex;
    position: absolute;
    top: -5rem;
    left: 0;
  }
  
  .small-title h2 {
    font-size: 3.125rem;
    letter-spacing: 3px;
    font-style: italic;
  }
  
  .att {
    -webkit-animation: jello-vertical 1.5s both infinite;
    animation: jello-vertical 1.5s both infinite;
    color: #51fcff;
  }
  
  .att:hover {
    color: #ff10f0;
  }
  
  @keyframes back {
    100% {
      background-position: 2000px 0;
    }
  }
  
  @-webkit-keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
      transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
      transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

  @media only screen and (min-width: 1200px) {
    .span-light {
      font-size: 10rem;
    }
  }